.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}
.jumbotron {
  background-color: #eaa47e;
}
.banner {
  padding: 2.5%;
  text-align: center;
}

.content {
  background-color: #808080;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
}
